{plugins, [{rebar3_gpb_plugin, "2.12.5"}]}.

{gpb_opts, [
  {i, "proto"},
  {module_name_suffix, "_pb"},
  {o_erl, "src"},
  {o_hrl, "include"},
  {strings_as_binaries, true},
  type_specs,
  epb_compatibility]}.

{provider_hooks, [
  {pre, [{compile, {protobuf, compile}},
	 {clean, {protobuf, clean}}
	]}
]}.

{erl_opts, [
    {i, "./_build/default/plugins/gpb/include"}
]}.

{deps, [
    {gpb, "4.10.5"},
    {ranch, {git, "https://github.com/ninenines/ranch", {tag, "2.0.0-rc.3"}}}
]}.

{profiles, [
  {test, [
    {deps, [
        %{katja, "0.10.0"}
        {katja, {git, "https://github.com/katja-beam/katja", {branch, "master"}}}
    ]}
  ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [katja_echo]}
]}.

{yrl_opts, [{verbose, true}]}.

{xrl_opts, [{verbose, true}]}.